body {
	background:none;
}

#outerWrapper {
	width: 610px;
	height: 600px;
	position: relative;
	background: black;
}

#holder {
	top: 0px;
	left: 0px;
	position: absolute;
	border:#F00;
}

#buttons {
	width: 210px;
	height: 45px;
	position:absolute;
	left: 20px;
	top: 20px;
}
#prev {
	/*display:none;*/
	position:absolute;
	left: 0px;
	top: 0px;
	cursor:pointer;
	width:100px;
	height:45px;
	background:url(http://www.nature.com/polopoly_fs/7.5658.1343834081!/image/prev.png);
	
	background-position:0 45px;
	float:left;
}
#next {
	position:absolute;
	left: 110px;
	top: 0px;
	cursor:pointer;
	width:100px;
	height:45px;
	background: url(http://www.nature.com/polopoly_fs/7.5657.1343834051!/image/next.png);
	
	background-position:0 0px;
	float:left;
}
#innerWrapper {
	width: 345px;
	height: 390px;
	position: relative;
	top: 20px;
	left: 245px;
	overflow: hidden;
	border: none;
}
#panel {
	/*345 x 8*/
	width: 2760px;
	height: 390px;
}
#event {
	width: 345px;
	height: 400px;
	float:left;
	overflow-y:auto;/*padding: 10px;
	margin-right: 1px;*/
}

#eventInfo {
	position:relative;
	top:-15px;
	left: 0px;
	width: 325px;
	height: 27px;
	background:none;
}


